.welcome-screen {
	margin: 0 auto;
	width: 50vw;
	min-width: 700px;
	max-width: 700px;
	border: 1px solid black;
	height: 100vh;
	background: pink;
	color: black;
	z-index: 150;
	overflow: hidden;
	display: none;
}
/* .unitate {
    height: 1300px;
    width: 570px;
    position: absolute;
    left: 1400px;
    top: -55px;
    background-image: url("images/case3.png");
    background-repeat: no-repeat;
    background-size: cover;
} */
.CRT {
	background-image: url("images/CRT.png");
	z-index: -1;
	height: 1250px;
	width: 1320px;
	position: absolute;
	top: -85px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	filter: brightness(100%);
	perspective: 1000px;
	/* transform: scale(0.98); */
}
.container {
	height: 768px;
	width: 1024px;
	background-color: rgb(58, 111, 165);
	margin: auto;
	margin-top: 178px;
	margin-left: 148px;
	position: relative;
	z-index: 0;
	/* background-image: url("images/dotawallpaper2.png"); */
	background-image: url("images/windows98.jpg");
	background-size: contain;
	background-origin: top;
	background-repeat: no-repeat;
	/* transform: rotateY(15deg);
    transform-style: preserve-3d;
    perspective: 50em; */
	overflow: hidden;
	/* transform: rotate3d(1, 0, 0, -1deg); */
	/* transform: scale(0.95); */
}

.container-dim-effect {
	height: 768px;
	width: 1024px;
	background-color: rgb(58, 111, 165);
	margin: auto;
	margin-top: 38px;
	position: relative;
	z-index: 0;
	filter: brightness(0%);
}

.taskbar {
	width: 1024px;
	height: 28px;
	background-color: rgb(208, 206, 192);
	z-index: 1;
	position: absolute;
	margin-top: 740px;
}

.white-line {
	height: 1px;
	width: 1024px;
	background-color: white;
	position: absolute;
	z-index: 2;
	margin-top: 741px;
}

.start-button {
	width: 53px;
	height: 20px;
	position: absolute;
	background-image: url("images/start-button-picture.png");
	z-index: 2;
	border-top: solid white 1px;
	border-left: solid white 1px;
	border-right: solid black 1px;
	border-bottom: solid black 1px;
	left: 2px;
	bottom: 2px;
}

/* start-button-active {
    width: 53px;
    height: 20px;
    position: absolute;
    background-image: url("images/start-button-picture.png");
    z-index: 2;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    left: 2px;
    bottom: 2px;
}
*/

.start-button:active {
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-right: solid white 1px;
	border-bottom: solid white 1px;
}

.status-area {
	position: absolute;
	width: 100px;
	height: 20px;
	z-index: 2;
	border-top: solid rgb(127, 127, 127) 1px;
	border-left: solid rgb(127, 127, 127) 1px;
	border-right: solid white 1px;
	border-bottom: solid white 1px;
	bottom: 2px;
	right: 2px;
}

.clock {
	z-index: 2;
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-family: Tahoma;
	font-size: 13px;
}

.programs-tab,
.codesnippets {
	position: absolute;
	width: 159px;
	height: 46px;
	left: 224px;
	bottom: 295px;
	box-sizing: border-box;
	border-left: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
}

.codesnippets {
	left: 201px;
	top: -3px;
	height: 26px;
	z-index: 100;
}

.programs-tab-in,
.codesnippets-in {
	position: absolute;
	width: 157px;
	height: 44px;
	box-sizing: border-box;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	background: rgb(208, 206, 192);
}

.codesnippets-in {
	height: 24px;
}

.accessories {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 1px;
	left: 1px;
	background-image: url("images/accessories2.png");
}
.accessories:hover {
	background-image: url("images/accessories.png");
}

.accessories-tab {
	position: absolute;
	width: 159px;
	height: 67px;
	left: 154px;
	top: -3px;
	box-sizing: border-box;
	border-left: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
}

.accessories-tab-in {
	position: absolute;
	width: 157px;
	height: 65px;
	box-sizing: border-box;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	background: rgb(208, 206, 192);
}

.firstacc {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 1px;
	left: 1px;
	background-image: url("images/clockimg2.png");
	cursor: pointer;
}
.firstacc:hover {
	background-image: url("images/clockimg.png");
}

.weatheracc {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 21px;
	left: 1px;
	background-image: url("images/weatherimg1.png");
}
.weatheracc:hover {
	background-image: url("images/weatherimg2.png");
}

.thirdacc {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 41px;
	left: 1px;
	background-image: url("images/placeholderimgalt.png");
}
.thirdacc:hover {
	background-image: url("images/placeholderimg.png");
}

.games {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	bottom: 1px;
	left: 1px;
	background-image: url("images/games2.png");
}
.games:hover {
	background-image: url("images/games.png");
}

.games-tab {
	position: absolute;
	width: 159px;
	height: 67px;
	left: 154px;
	top: -3px;
	box-sizing: border-box;
	border-left: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
}

.games-tab-in {
	position: absolute;
	width: 157px;
	height: 65px;
	box-sizing: border-box;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	background: rgb(208, 206, 192);
}

.firstgame {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 1px;
	left: 1px;
	background-image: url("images/brickgame2.png");
}
.firstgame:hover {
	background-image: url("images/brickgame1.png");
}

.secondgame {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 21px;
	left: 1px;
	background-image: url("images/guessthenumber.png");
}
.secondgame:hover {
	background-image: url("images/guessthenumberalt.png");
}

.thirdgame {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 41px;
	left: 1px;
	background-image: url("images/placeholderimgalt.png");
}
.thirdgame:hover {
	background-image: url("images/placeholderimg.png");
}
.firstsnippettab {
	position: absolute;
	width: 153px;
	height: 20px;
	box-sizing: border-box;
	top: 1px;
	left: 1px;
	background-image: url("images/codesamplesimg.png");
}
.firstsnippettab:hover {
	background-image: url("images/codesamplesimg1.png");
}

.favourites-tab {
	position: absolute;
	width: 177px;
	height: 47px;
	left: 201px;
	top: -3px;
	box-sizing: border-box;
	border-left: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
	z-index: 100;
}

.favourites-tab-inner {
	position: absolute;
	width: 175px;
	height: 45px;
	box-sizing: border-box;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	background: rgb(208, 206, 192);
}

.firstfav {
	position: absolute;
	width: 171px;
	height: 20px;
	box-sizing: border-box;
	top: 1px;
	left: 1px;
	background-image: url("images/ottoanimation.png");
}
.firstfav:hover {
	background-image: url("images/ottoanimationalttt.png");
}

.start-menu-outer {
	position: absolute;
	width: 231px;
	height: 383px;
	box-sizing: border-box;
	border-left: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	bottom: 24px;
	/* initial erau 2 pixeli la dreapta */
	left: 1px;
	background-color: rgb(208, 206, 192);
	z-index: 2;
	display: none;
}

.start-menu {
	height: 381px;
	width: 229px;
	box-sizing: border-box;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
}

.menu-logo {
	background-image: url("images/start-menu-logo.png");
	position: relative;
	top: 1px;
	left: 1px;
	height: 377px;
	width: 21px;
}

.first-box {
	position: absolute;
	width: 204px;
	height: 38px;
	box-sizing: border-box;
	bottom: 2px;
	right: 2px;
	background-image: url("images/first-box-img.png");
}

.first-box:hover {
	background-image: url("images/first-box-img2.png");
}

.second-box {
	position: absolute;
	width: 204px;
	height: 38px;
	box-sizing: border-box;
	bottom: 40px;
	right: 2px;
	background-image: url("images/second-box-img.png");
}

.second-box:hover {
	background-image: url("images/second-box-img2.png");
}

.third-box {
	position: absolute;
	width: 204px;
	height: 38px;
	box-sizing: border-box;
	bottom: 80px;
	right: 2px;
	background-image: url("images/third-box-img.png");
}

.third-box:hover {
	background-image: url("images/third-box-img2.png");
}

.fourth-box {
	position: absolute;
	width: 204px;
	height: 38px;
	box-sizing: border-box;
	bottom: 118px;
	right: 2px;
	background-image: url("images/fourth-box-img.png");
}

.fourth-box:hover {
	background-image: url("images/fourth-box-img2.png");
}

.fifth-box {
	position: absolute;
	width: 204px;
	height: 36px;
	box-sizing: border-box;
	bottom: 154px;
	right: 2px;
	background-image: url("images/fifth-box-img.png");
}

.fifth-box:hover {
	background-image: url("images/fifth-box-img2.png");
}

.sixth-box {
	position: absolute;
	width: 204px;
	height: 36px;
	box-sizing: border-box;
	bottom: 190px;
	right: 2px;
	background-image: url("images/sixth-box-img.png");
}

.sixth-box:hover {
	background-image: url("images/sixth-box-img2.png");
}

.seventh-box {
	position: absolute;
	width: 204px;
	height: 36px;
	box-sizing: border-box;
	bottom: 226px;
	right: 2px;
	background-image: url("images/seventh-box-img.png");
}

.seventh-box:hover {
	background-image: url("images/seventh-box-img2.png");
}

.eighth-box {
	position: absolute;
	width: 204px;
	height: 36px;
	box-sizing: border-box;
	bottom: 262px;
	right: 2px;
	background-image: url("images/eighth-box-img.png");
}

.eighth-box:hover {
	background-image: url("images/eighth-box-img2.png");
}

.ninth-box {
	position: absolute;
	width: 204px;
	height: 38px;
	box-sizing: border-box;
	bottom: 300px;
	right: 2px;
	background-image: url("images/ninth-box-img.png");
}

.ninth-box:hover {
	background-image: url("images/ninth-box-img2.png");
}

.ninth-box-overlay {
	position: absolute;
	width: 201px;
	height: 38px;
	right: 5px;
	bottom: 300px;
	background-image: url("images/ninth-box-img2.png");
	display: none;
	/* border: 1px solid white; */
}

.tenth-box {
	position: absolute;
	width: 204px;
	height: 39px;
	box-sizing: border-box;
	bottom: 340px;
	right: 2px;
	background-image: url("images/tenth-box-img.png");
}

.tenth-box:hover {
	background-image: url("images/tenth-box-img2.png");
}

.bottom-break-line {
	width: 200px;
	height: 2px;
	box-sizing: border-box;
	border-top: solid 1px rgb(128, 128, 128);
	border-bottom: solid 1px white;
	position: absolute;
	bottom: 78px;
	right: 4px;
}

.top-break-line {
	width: 200px;
	height: 2px;
	box-sizing: border-box;
	border-top: solid 1px rgb(128, 128, 128);
	border-bottom: solid 1px white;
	position: absolute;
	bottom: 338px;
	right: 4px;
}

.test-div,
.resizing-test {
	background-color: white;
	box-sizing: border-box;
	height: 349px;
	width: 350px;
	border: solid 2px pink;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: hidden;
	z-index: 50;
	/* display: none;           */
}

.resizing-test,
.test-div {
	display: none;
}

.folder-close-button {
	position: absolute;
	border: solid 2px black;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	right: 0px;
	top: 0px;
	cursor: pointer;
	display: block;
}

.folder-fullscreen-toggle {
	position: absolute;
	border: solid 2px black;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	right: 21px;
	top: 0px;
}

.folder-minimize {
	position: absolute;
	border: solid 2px black;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	right: 42px;
	top: 0;
}

.folder-drag-area {
	position: absolute;
	border: solid 2px black;
	height: 20px;
	width: 283px;
	box-sizing: border-box;
	left: 0;
	top: 0;
	cursor: move;
}

.left-folder-resize-area {
	position: absolute;
	box-sizing: border-box;
	height: 350px;
	width: 2px;
	left: 0;
	background-color: black;
	cursor: w-resize;
}

.right-folder-resize-area {
	position: absolute;
	box-sizing: border-box;
	height: 330px;
	width: 2px;
	right: 0;
	bottom: 21;
	background-color: black;
	cursor: e-resize;
}

.bottom-folder-resize-area {
	position: absolute;
	box-sizing: border-box;
	height: 2px;
	width: 326px;
	left: 0;
	bottom: 0;
	background-color: black;
	cursor: s-resize;
}

.bottom-corner-folder-resize-area {
	position: absolute;
	border: solid 2px black;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	right: 0px;
	bottom: 0px;
	cursor: se-resize;
}

/* // FOLDER FRAMEWORK BEGINS HERE */

.folder-test {
	box-sizing: border-box;
	width: 600px;
	height: 500px;
	position: absolute;
	top: 40px;
	left: 40px;
	border-top: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-left: 1px solid rgb(208, 207, 192);
	display: none;
}
.folder-test3a {
	box-sizing: border-box;
	width: 1024px;
	height: 740px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-left: 1px solid rgb(208, 207, 192);
	display: none;
}

.folder-test1-first {
	box-sizing: border-box;
	width: 598px;
	height: 498px;
	border-top: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	border-left: 1px solid rgb(255, 255, 255);
	background-color: rgb(208, 207, 192);
}
.folder-test1-first3a {
	box-sizing: border-box;
	width: 1024px;
	height: 739px;
	border-top: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	border-left: 1px solid rgb(255, 255, 255);
	background-color: rgb(208, 207, 192);
}

.folder-test1-topbar {
	box-sizing: border-box;
	width: 592px;
	height: 18px;
	background-color: rgb(0, 0, 128);
	margin-top: 1px;
	margin-left: 2px;
	/* cursor: move; */
}
.folder-test1-topbar3a {
	box-sizing: border-box;
	width: 1018px;
	height: 18px;
	background-color: rgb(0, 0, 128);
	margin-top: 1px;
	margin-left: 2px;
	/* cursor: move; */
}

.folder-test1-left-image {
	background-image: url("images/mycomputer.png");
	background-repeat: no-repeat;
	width: 535px;
	height: 18px;
	box-sizing: border-box;
	position: absolute;
	cursor: move;
}
.folder-test1-left-image3a {
	background-image: url("images/mycomputer.png");
	background-repeat: no-repeat;
	width: 959px;
	height: 18px;
	box-sizing: border-box;
	position: absolute;
	/* cursor: move; */
	/* border: 1px solid white; */
}

.folder-test1-minimize {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 39px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}
.folder-test1-minimize3a {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 39px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}

.folder-test1-minimize-inner {
	box-sizing: border-box;
	border-top: 1px solid rgb(208, 207, 192);
	border-left: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	width: 14px;
	height: 12px;
	position: absolute;
}

.folder-test1-minimize-the-underline {
	background-color: rgb(0, 0, 0);
	width: 6px;
	height: 2px;
	right: 4px;
	bottom: 1px;
	position: absolute;
	box-sizing: border-box;
}

.folder-test1-fullscreen {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 23px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}
.folder-test1-fullscreen3a {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 21px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}

.folder-test1-fullscreen-inner {
	box-sizing: border-box;
	border-top: 1px solid rgb(208, 207, 192);
	border-left: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	width: 14px;
	height: 12px;
	position: absolute;
}

.folder-test1-fullscreen-thebox {
	box-sizing: border-box;
	position: absolute;
	width: 9px;
	height: 9px;
	border: 1px solid black;
	border-top: 2px solid #111111;
	left: 1px;
}
.folder-test1-fullscreen-thebox3a {
	box-sizing: border-box;
	position: absolute;
	width: 9px;
	height: 9px;
	border: 1px solid black;
	border-top: 2px solid #111111;
	left: 1px;
	transform: scale(0.8);
}

.folder-test1-close {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 5px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}
.folder-test1-close3a {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 3px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}

.folder-test1-close-inner {
	box-sizing: border-box;
	border-top: 1px solid rgb(208, 207, 192);
	border-left: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	width: 14px;
	height: 12px;
	position: absolute;
}

.folder-test1-close-theX {
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	top: -3px;
	font-family: sans-serif;
	left: 2px;
	font-size: 13px;
}

.resize-area {
	position: absolute;
	top: 481px;
	left: 581px;
	background-image: url("images/resizee-img.png");
	box-sizing: border-box;
	width: 15px;
	height: 15px;
}
.resize-area3a {
	position: absolute;
	top: 481px;
	left: 581px;
	background-image: url("images/resizee-img.png");
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	display: none;
}

.resize-area:hover {
	cursor: se-resize;
}

.folder-mycomputer {
	width: 54px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	left: 15px;
	top: 80px;
	/* background-color: lightcoral; */
}

.folder-recyclebin {
	width: 54px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	right: 15px;
	bottom: 43px;
	/* background-color: lightcoral; */
	text-align: center;
}

.folder-ottoanimation {
	width: 54px;
	height: 70px;
	position: absolute;
	top: 15px;
	right: 15px;
	text-align: center;
}
/* .folder-ottoanimation:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */

.ottoanimation-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 35px;
	text-align: center;
	background-image: url("images/ottoanimationicon1.png");
	top: 3px;
	right: 11px;
}

.folder-3danimation {
	width: 54px;
	height: 70px;
	position: absolute;
	top: 90px;
	right: 15px;
	text-align: center;
}
/* .folder-3danimation:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */

.cubeanimation-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	text-align: center;
	background-image: url("images/3danimationicon.png");
	top: 3px;
	right: 11px;
}

.folder-w3 {
	width: 54px;
	height: 70px;
	position: absolute;
	bottom: 65px;
	left: 15px;
	text-align: center;
}
/* .folder-w3:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */

.w3-icon {
	position: absolute;
	box-sizing: border-box;
	width: 35px;
	height: 35px;
	text-align: center;
	background-image: url("images/w3icon.png");
	top: 1px;
	right: 9px;
}

.folder-weather {
	width: 51px;
	height: 55px;
	position: absolute;
	top: 175px;
	right: 15px;
	text-align: center;
}
/* .folder-weather:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */

.desktopweathericon {
	position: absolute;
	box-sizing: border-box;
	width: 35px;
	height: 35px;
	text-align: center;
	background-image: url("images/weathericon.png");
	top: 1px;
	right: 9px;
}

.folder-premcars {
	width: 51px;
	height: 55px;
	position: absolute;
	top: 245px;
	right: 18px;
	text-align: center;
}
/* .folder-premcars:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */
.desktoppremcarsicon {
	position: absolute;
	box-sizing: border-box;
	width: 35px;
	height: 31px;
	text-align: center;
	background-image: url("images/premcarsicon.png");
	top: 1px;
	right: 6px;
}

.folder-rogame {
	width: 51px;
	height: 55px;
	position: absolute;
	top: 310px;
	right: 14px;
	text-align: center;
}

.desktoprogameicon {
	position: absolute;
	box-sizing: border-box;
	width: 35px;
	height: 31px;
	text-align: center;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f3/Romania-administrativa.png");
	background-size: contain;
	top: 1px;
	right: 10px;
}

.folder-work1 {
	width: 60px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	left: 15px;
	top: 15px;
	text-align: center;
	/* background-color: lightcoral; */
}
.folder-work2 {
	width: 60px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	left: 108px;
	top: 15px;
	/* background-color: lightcoral; */
}
.folder-work3 {
	width: 60px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	left: 200px;
	top: 15px;
	/* background-color: lightcoral; */
}
.folder-work4 {
	width: 60px;
	height: 70px;
	/* border: 1px solid lightgreen; */
	position: absolute;
	left: 294px;
	top: 15px;
	/* background-color: lightcoral; */
}

.folder-test1-settings {
	position: absolute;
	box-sizing: border-box;
	width: 592px;
	height: 30px;
	border: 1px solid white;
	top: 21px;
	left: 3px;
	text-align: center;
}
.folder-test1-settings3a {
	position: absolute;
	box-sizing: border-box;
	width: 1018px;
	height: 30px;
	border: 1px solid white;
	top: 21px;
	left: 3px;
	text-align: center;
}

.folder-test1-botbar {
	position: absolute;
	box-sizing: border-box;
	width: 592px;
	height: 30px;
	border: 1px solid white;
	top: 465px;
	left: 3px;
	text-align: center;
}
.folder-test1-botbar3a {
	position: absolute;
	box-sizing: border-box;
	width: 1018px;
	height: 30px;
	border: 1px solid white;
	top: 706px;
	left: 3px;
	text-align: center;
	display: none;
}

.folder-test1-container {
	position: absolute;
	box-sizing: border-box;
	width: 592px;
	height: 408px;
	border-right: 1px solid white;
	border-top: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid white;
	border-left: 1px solid rgb(127, 127, 127);
	top: 54px;
	left: 3px;
	text-align: center;
}
.folder-test1-container3a {
	position: absolute;
	box-sizing: border-box;
	width: 1018px;
	height: 650px;
	border-right: 1px solid white;
	border-top: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid white;
	border-left: 1px solid rgb(127, 127, 127);
	top: 54px;
	left: 3px;
	text-align: center;
}

.folder-test1-container-inner {
	position: absolute;
	box-sizing: border-box;
	width: 590px;
	height: 406px;
	border-right: 1px solid rgb(208, 207, 192);
	border-top: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid white;
	border-left: 1px solid rgb(63, 63, 63);
	text-align: center;
	background-color: white;
	overflow: hidden;
}
.folder-test1-container-inner3a {
	position: absolute;
	box-sizing: border-box;
	width: 1016px;
	height: 647px;
	/* modificare height de la 680 la 647 la 24 sept. */
	border-right: 1px solid rgb(208, 207, 192);
	border-top: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid white;
	border-left: 1px solid rgb(63, 63, 63);
	text-align: center;
	background-color: white;
	overflow: hidden;
}

.readme {
	position: absolute;
	box-sizing: border-box;
	width: 55px;
	height: 57px;
	/* border: 1px solid rgb(63, 104, 160); */
	top: 15px;
	left: 15px;
}

.readme-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	text-align: center;
	background-image: url("images/word-pictogram.png");
	top: 3px;
	right: 11px;
}
.mycomputer-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	text-align: center;
	background-image: url("images/mycomputerpic.png");
	/* transform: scale(1.1); */
	top: 3px;
	right: 11px;
}
.recyclebin-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	text-align: center;
	background-image: url("images/recyclebinpic.png");
	/* transform: scale(1.1); */
	top: 3px;
	right: 11px;
}
.work1-icon {
	position: absolute;
	box-sizing: border-box;
	width: 32px;
	height: 30px;
	text-align: center;
	background-image: url("images/foldericon.png");
	top: 3px;
	left: 14px;
}

.readme-name {
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	color: rgb(0, 0, 0);
	top: 39px;
	font-size: 11px;
	left: 4px;
	/* background: blue; */
	background: rgb(0, 128, 128);
	color: white;
	left: 0px;
	font-family: sans-serif;
	letter-spacing: 1px;

	/* letter-spacing: 1px; */
	/* background-color: rgb(0, 32, 96); */
}
.readme-name-in {
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	color: rgb(0, 0, 0);
	top: 39px;
	font-size: 11px;
	left: 4px;
	/* background: blue; */
	color: black;
	/* left: 0; */
	font-family: sans-serif;
	letter-spacing: 1px;
}
/* background-color: blue; intial on:hover background*/
/* .readme:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}

.folder-mycomputer:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}
.folder-recyclebin:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}
.folder-work1:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}
.folder-work2:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}
.folder-work3:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
}
.folder-work4:hover {
    text-emphasis-color: white;
    border: 1px dotted black;
} */

.taskbar-separator-div1 {
	position: absolute;
	box-sizing: border-box;
	width: 2px;
	height: 22px;
	border-left: 1px solid rgb(127, 127, 127);
	border-right: 1px solid #ffffff;
	left: 59px;
	top: 4px;
}

.taskbar-separator-div2 {
	position: absolute;
	box-sizing: border-box;
	width: 3px;
	height: 18px;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	background-color: rgb(208, 207, 192);
	left: 63px;
	top: 6px;
}

.taskbar-separator-div2:hover {
	cursor: ew-resize;
}

.taskbar-separator-div3 {
	position: absolute;
	box-sizing: border-box;
	width: 2px;
	height: 22px;
	border-left: 1px solid rgb(127, 127, 127);
	border-right: 1px solid #ffffff;
	left: 916px;
	top: 4px;
}

.opened-folder-div {
	position: absolute;
	box-sizing: border-box;
	height: 22px;
	width: 160px;
	top: 4px;
	left: 71px;
	background-image: url("images/myComputer-taskbar-onFocusimg.png");
	display: none;
}

.folderframework,
.folderframework2,
.folderframework3,
.folderframework4 {
	box-sizing: border-box;
	width: 500px;
	height: 500px;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	border-top: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-left: 1px solid rgb(208, 207, 192);
	display: none;
}

.weathercontainer {
	box-sizing: border-box;
	width: 500px;
	height: 500px;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	border-top: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-left: 1px solid rgb(208, 207, 192);
	display: none;
}
/* .weathercontainer:active {
} */

/* .folderframework2 {
    display: none;
}
.folderframework3 {
    display: none;
} */

.folderframeworborder {
	box-sizing: border-box;
	width: 498px;
	height: 498px;
	border-top: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	border-left: 1px solid rgb(255, 255, 255);
	background-color: rgb(208, 207, 192);
}

.folderframeworktop {
	position: absolute;
	box-sizing: border-box;
	width: 494px;
	height: 18px;
	background-color: rgb(0, 0, 128);
	top: 2px;
	left: 2px;
}

.folderframeworkicon {
	position: absolute;
	background-image: url("images/ottofoldertop.png");
	height: 18px;
	width: 450px;
	background-repeat: no-repeat;
}

.folderframeworkicon2 {
	position: absolute;
	background-image: url("images/3danimationfolderimg.png");
	height: 18px;
	width: 450px;
	background-repeat: no-repeat;
}
.folderframeworkicon5 {
	position: absolute;
	background-image: url("images/guessthenumberalt.png");
	height: 16px;
	width: 450px;
	background-size: auto;
	top: 0px;
	background-repeat: no-repeat;
}

.folderframeworkicon3 {
	position: absolute;
	background-image: url("images/placeholder1.png");
	height: 18px;
	width: 450px;
	background-repeat: no-repeat;
}

.folderframeworkicon4 {
	position: absolute;
	background-image: url("images/weatherfoldericon.png");
	height: 18px;
	width: 450px;
	background-repeat: no-repeat;
}

.folder-test1-close2 {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 2px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}

.folderframeworkcontainer,
.weatherfoldercontainer {
	position: absolute;
	box-sizing: border-box;
	width: 496px;
	height: 476px;
	background: lightgoldenrodyellow;
	top: 20px;
}
.weatherfoldercontainer {
	background: rgb(208, 207, 192);
	padding: 5px;
	padding-top: 25px;
}
/* OCA BEGINS HERE */
.containerotto {
	position: absolute;
	left: 150px;
	top: 85px;
	width: 200px;
	height: 280px;
	/* heightu era 280 initial */
	box-sizing: border-box;
	/* border: 1px solid black; */
	border-bottom: none;
	background: rgb(143, 168, 151);
}

.combustion-chamber {
	position: relative;
	box-sizing: border-box;
	/* border: 1px solid black; */
	width: 198px;
	height: 95px;
	background: white;
	animation-iteration-count: infinite;
	animation-name: combustion-chamber;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-duration: 2s;
}

@keyframes combustion-chamber {
	0% {
		background: white;
	}
	14% {
		background: lightblue;
	}
	50% {
		background: lightblue;
	}
	51% {
		background: orangered;
	}
	60% {
		background: orange;
	}
	75% {
		background: darkgrey;
	}
	100% {
		background: lightgray;
	}
}

.intake {
	position: absolute;
	width: 108px;
	height: 60px;
	box-sizing: border-box;
	/* border: 1px solid black; */
	top: -60px;
	left: -20px;
	border-top: 3px solid gray;
	border-right: 3px solid gray;
	border-top-right-radius: 70%;
	/* border-bottom: 3px solid gray; */
	border-left: none;
	background: lightblue;
}

.intake-bottom-border-in {
	position: absolute;
	box-sizing: border-box;
	height: 3px;
	width: 30px;
	z-index: 1;
	background: gray;
	top: 54px;
	left: 85px;
}

.intake-bottom-border-ext {
	position: absolute;
	box-sizing: border-box;
	height: 3px;
	width: 60px;
	z-index: 1;
	background: gray;
	top: 54px;
	left: 0px;
}

.exhaust-bottom-border-in {
	position: absolute;
	box-sizing: border-box;
	height: 3px;
	width: 30px;
	z-index: 1;
	background: gray;
	top: 54px;
	left: -10px;
}

.exhaust-bottom-border-ext {
	position: absolute;
	box-sizing: border-box;
	height: 3px;
	width: 60px;
	z-index: 1;
	background: gray;
	top: 54px;
	left: 45px;
}

.intake-valve {
	position: absolute;
	box-sizing: border-box;
	/* border: 1px solid black; */
	width: 35px;
	height: 80px;
	left: 55px;
	top: -20px;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: intake-valve-animation;
}

@keyframes intake-valve-animation {
	12% {
		transform: translateY(3px);
	}
	25% {
		transform: translateY(0);
	}
}

.intake-valve-face {
	position: absolute;
	box-sizing: border-box;
	background: black;
	top: 77px;
	width: 100%;
	height: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.intake-valve-stem {
	position: absolute;
	box-sizing: border-box;
	background: black;
	top: 0;
	height: 100%;
	width: 4px;
	left: calc(50% - 2px);
}

.exhaust-valve {
	position: absolute;
	box-sizing: border-box;
	/* border: 1px solid black; */
	width: 35px;
	height: 80px;
	left: 15px;
	top: -20px;
	animation-iteration-count: infinite;
	animation-delay: 1.3s;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: exhaust-valve-animation;
}

@keyframes exhaust-valve-animation {
	25% {
		transform: translateY(3px);
	}
	34% {
		transform: translateY(0);
	}
}

.exhaust-valve-face {
	position: absolute;
	box-sizing: border-box;
	background: black;
	top: 77px;
	width: 100%;
	height: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.exhaust-valve-stem {
	position: absolute;
	box-sizing: border-box;
	background: black;
	top: 0;
	height: 100%;
	width: 4px;
	left: calc(50% - 2px);
}

.spark-plug {
	position: absolute;
	box-sizing: border-box;
	border-bottom: 3px solid black;
	width: 24px;
	height: 65px;
	background: white;
	top: -65px;
	left: 88px;
	background-image: url(ottocycle/spark.png);
}

.spark {
	position: absolute;
	width: 8px;
	height: 8px;
	box-sizing: border-box;
	border-radius: 50%;
	background: yellow;
	left: 8px;
	top: 65px;
	border: 1px solid orangered;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: spark-animation;
	z-index: 5;
	opacity: 0;
}

@keyframes spark-animation {
	0% {
		opacity: 0.5;
	}
	1% {
		opacity: 1;
	}
	2.5% {
		transform: scale(4, 4);
	}
	3% {
		opacity: 0;
	}
}

.exhaust {
	position: absolute;
	width: 108px;
	height: 60px;
	box-sizing: border-box;
	/* border: 1px solid black; */
	top: -60px;
	left: 112px;
	border-top: 3px solid gray;
	border-left: 3px solid gray;
	border-top-left-radius: 70%;
	/* border-bottom: 3px solid gray; */
	border-right: none;
	background: white;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: exhaust-animation;
}

@keyframes exhaust-animation {
	0% {
		background: white;
	}
	20% {
		background: white;
	}
	28% {
		background: lightgrey;
	}
	34% {
		background: lightgrey;
	}
	100% {
		background: white;
	}
}

.container-bottom {
	position: absolute;
	width: 200px;
	height: 198px;
	box-sizing: border-box;
	/* border: 1px solid black; */
	top: 180px;
	border-radius: 50%;
	background: rgb(143, 168, 151);
}

.container-left-wall {
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
	width: 20px;
	height: 205px;
	border-bottom-right-radius: 100px;
	background: gray;
}

.container-right-wall {
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
	width: 20px;
	height: 205px;
	border-bottom-left-radius: 100px;
	background: gray;
}

.cylinder {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 20px;
	/* border: 1px solid black; */
	width: 158px;
	height: 172px;
}

.piston-head {
	position: absolute;
	box-sizing: border-box;
	/* border: 1px solid white; */
	height: 85px;
	width: 160px;
	top: 9px;
	border-top: 7px solid black;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: lightgray;
	animation-iteration-count: infinite;
	animation-delay: 0ms;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-name: piston-head-animation;
	z-index: 3;
}

@keyframes piston-head-animation {
	50% {
		transform: translateY(90px);
	}
}

.piston-head-link {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	left: calc(50% - 15px);
	top: 30px;
	background: white;
}

.piston-head-ring1 {
	width: 100%;
	height: 3px;
	position: absolute;
	top: 5px;
	background: black;
}
.piston-head-ring2 {
	width: 100%;
	height: 3px;
	position: absolute;
	top: 10px;
	background: black;
}

.piston-rod {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid black;
	background: black;
	width: 30px;
	height: 200px;
	top: 45px;
	z-index: 1;
	left: calc(50% - 15px);
	animation-name: piston-rod-animation;
	/* animation-iteration-count: infinite; */
	animation-delay: 0ms;
	animation-timing-function: linear;
	animation-duration: 1s;
	transform-origin: top center;
	animation-iteration-count: infinite;
	/* top: 96px;
    transform: rotateZ(14deg); */
}

@keyframes piston-rod-animation {
	25% {
		transform: rotateZ(-11deg) translateY(50px);
	}
	50% {
		transform: rotateZ(0deg) translateY(90px);
	}
	75% {
		transform: rotateZ(11deg) translateY(50px);
	}
	100% {
		transform: rotateZ(0deg) translateY(0px);
	}
}

.crankshaft {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid black;
	width: 184px;
	height: 184px;
	border-radius: 50%;
	top: calc(50% - 92px);
	right: calc(50% - 92px);
	background: darkgray;
	animation-iteration-count: infinite;
	animation-delay: 0ms;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-name: crankshaft-animation;
	z-index: 3;
}

@keyframes crankshaft-animation {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.crankshaft-link {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	left: calc(50% - 15px);
	top: 30px;
	background: white;
}
/* OCA ENDS HERE */

/* 3dAnimationBeginsHere */

.container3d {
	position: absolute;
	top: 225px;
	left: 245px;
	perspective: 1000px;
}

.cube-area {
	position: relative;
	transform-style: preserve-3d;
	animation-name: rotation123;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transform: rotateX(90deg) rotateY(90deg);
}

@keyframes rotation123 {
	0% {
		transform: rotate3d(0, 0, 0, 0);
	}
	100% {
		transform: rotate3d(0, 1, 0, 360deg);
	}
}

.cube123 {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 3px solid lightseagreen;
}

.cube-front-side {
	transform: translateX(-150px) translateY(-150px) translateZ(150px);
	background: green;
	opacity: 0.5;
}
.cube-back-side {
	transform: translateX(-150px) translateY(-150px) translateZ(-150px);
	background: yellow;
	opacity: 0.5;
}
.cube-right-side {
	transform: translateY(-150px) rotateY(90deg);
	background: blueviolet;
	opacity: 0.5;
}
.cube-left-side {
	transform: translateY(-150px) translateX(-300px) rotateY(90deg);
	background: orange;
	opacity: 0.5;
}
.cube-bottom-side {
	transform: translateX(-150px) rotateX(90deg);
	background: blue;
	opacity: 0.5;
}
.cube-top-side {
	transform: translateX(-150px) translateY(-300px) rotateX(90deg);
	background: lightskyblue;
	opacity: 0.5;
}

/* 3dAnimationEndsHere */
/* canvasgame */
#game-canvas {
	border: 3px solid green;
	background: lightcoral;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
/* canvasgameend */
.welcomefolder {
	box-sizing: border-box;
	height: 730px;
	width: 450px;
	background: white;
	left: calc(50% - 225px);
	top: 5px;
	position: absolute;
	/* background-color: rgb(208, 207, 192); */
	border-top: 1px solid rgb(208, 207, 192);
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-left: 1px solid rgb(208, 207, 192);
	z-index: 200;
	display: none;
}
.welcomefolderinner {
	box-sizing: border-box;
	width: 448px;
	height: 728px;
	border-top: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	border-left: 1px solid rgb(255, 255, 255);
	background-color: rgb(208, 207, 192);
}
.welcomefoldertop {
	box-sizing: border-box;
	width: 444px;
	height: 18px;
	margin-top: 1px;
	margin-left: 1px;
	background-color: rgb(0, 0, 128);
}
.welcomefoldercontainer {
	box-sizing: border-box;
	position: absolute;
	width: 442px;
	height: px;
	left: 3px;
	bottom: 3px;
	border-right: 1px solid white;
	/* border-top: 1px solid rgb(127, 127, 127); */
	/* border-bottom: 1px solid white; */
	border-left: 1px solid rgb(127, 127, 127);
}
.welcomefoldertopleftimg {
	width: 410px;
	height: 18px;
	position: absolute;
	cursor: move;
	box-sizing: border-box;
	background-image: url("images/greetingsfoldertopimg.png");
	background-repeat: no-repeat;
}
.folder-test1-closeGreetings {
	box-sizing: border-box;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	right: 4px;
	height: 14px;
	width: 16px;
	margin-top: 2px;
	background-color: rgb(208, 207, 192);
	position: absolute;
	cursor: pointer;
}
.welcomefoldertitle {
	padding: 5px 0 5px 30px;
}
.welcomefoldertext {
	padding: 0 5px;
}
.mainTable {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	margin-top: 7px;
	border-collapse: collapse;
}
.mainTable tr {
	border: 1px solid black;
	box-sizing: border-box;
}
td,
th {
	border: 1px solid rgba(0, 0, 0, 0.4);
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
