

.container3d {
    position: absolute;
    top: 85px;
    left: 100px;
    perspective: 1000px;
}

.cube-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotation123;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotateX(90deg) rotateY(90deg);
}

@keyframes rotation123 {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.cube123 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid green;
}

.cube-front-side {
    transform: translateX(-150px) translateY(-150px) translateZ(150px);
    background: rgba(0, 240, 0, 0.2);
}
.cube-back-side {
    transform: translateX(-150px) translateY(-150px) translateZ(-150px);
    background: rgba(255, 255, 20, 0.5);
}
.cube-right-side {
    transform: translateY(-150px) rotateY(90deg);
    background: rgba(232, 232, 9, 0.3);
}
.cube-left-side {
    transform: translateY(-150px) translateX(-300px) rotateY(90deg);
    background: rgba(9, 124, 144, 0.4);
}
.cube-bottom-side {
    transform: translateX(-150px) rotateX(90deg);
    background: rgba(0, 0 145, 0.7);
}
.cube-top-side {
    transform: translateX(-150px) translateY(-300px) rotateX(90deg);
    background: rgba(200, 120, 120, 0.7);
}