@media (min-width: 1000px) {

    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    
    h1 {
        font-weight: 300;
    }
    
    .top-section {
        height: 100vh;
        background-image: url("images/top3img.jpg");
        background-position: top;
        background-size: cover;
    }
    
    .navbar {
        padding: 1rem 5rem;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .logo {
        color: white;
        font-size: 3.5em;
        font-weight: 250;
        font-style: italic;
    }
    
    .menu {
        color: white;
    }
    
    .nav-items {
        list-style: none;
        display: flex;
        font-size: 1.5em;
    }
    
    .nav-item {
        padding-left: 1em;
    }
    
    .header-container {
        box-sizing: border-box;
        padding: 1em 1em;
        color: white;
        font-size: 2.5em;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 23%;
        letter-spacing: -5px;
    } 
    
    .button {
        height: 55px;
        width: 150px;
        background: transparent;
        border-color: rgb(37, 176, 243);
        border-radius: 5px;
        color: white;
        font-size: 0.5em;
        margin-left: 1em;
        letter-spacing: 0;
    }
    .button:hover {
        transform: translateY(-3px);
        transition-duration: 0.1s;
        color: white;
        background-color: rgb(37, 176, 243);
    }
    .register {
        background-color: rgb(37, 176, 243);
    }
    .features-section {
        height: 50vh;
        box-sizing: border-box;
        text-align: center;
    }
    
    .features-header {
        color: black;
        font-size: 3.5em;
        font-weight: 300;
        box-sizing: border-box;
        padding-top: 1.3em;
    }
    
    .features-box {
        box-sizing: border-box;
        padding: 1em 4em;
        display: flex;
        margin-top: 1em;
    }
    
    .box {
        box-sizing: border-box;
        padding: 1em 3em;
        text-align: center;
        width: 25%;
    }
    .box:hover {
        transition-duration: 0.1s;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        transform: scale(1.1);
        transform: translateY(-3px);
    }
    
    .pic {
        width: 60px;
        height: 80px;
        background-repeat: no-repeat;
        margin-left: calc(50% - 30px);
    }
    
    .partnerships-pic {
        background-image: url("images/partnerships.png");
    }
    .specialoffers-pic {
        background-image: url("images/specialrates.png");
    }
    .findcar-pic {
        background-image: url("images/findcar.png");
    }
    .customerservice-pic {
        background-image: url("images/dannc44213.png");
    }
    
    
    .image-section {
        height: 49vh;
        background-image: url("images/mainimg.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    
    .howitworks-section {
        height: 90vh;
        background: white;
        text-align: center;
    }
    
    .howitworks-header {
        color: black;
        font-size: 3.5em;
        font-weight: 300;
        box-sizing: border-box;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
    }
    
    .howitworks-body {
        box-sizing: border-box;
        padding: 0em 5em;
        display: flex;
    }
    
    .howitworks-description {
        box-sizing: border-box;
        width: 50%;
        padding: 3em;
        line-height: 1.2;
    }
    .howitworks-button {
        width: 140px;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 3px solid rgb(37, 176, 243);
        font-size: 1.2em;
        box-sizing: border-box;
        margin-top: 2.7em;
        border-radius: 3px;
    }
    .howitworks-button:hover {
        background: rgb(37, 176, 243);
        transition-duration: 0.5s;
        color: rgba(255, 255, 255, 0.9);
    }
    .howitworks-image-box {
        margin-left: 7em;
        box-sizing: border-box;
        width: 40%;
        height: auto;
        max-height: 500px;
        background-image: url("images/howitworksimg.jpg");
        background-position: top;
        background-size: cover;
        border-radius: 5px;
        animation-name: howitworks-images;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        transition-duration: 0.2ms;
        animation-timing-function: linear;
    }
    
    @keyframes howitworks-images {
        0% {
            background-image: url("images/howitworksimg.jpg");
        }
        25% {
            background-image: url("images/sliderpic.jpg");
        }
        50% {
            background-image: url("images/img1.jpg");
        }
        75% {
            background-image: url("images/top3img.jpg");
        }
    }
    
    
    .memberships-section {
        height: 120vh;
        background: rgb(0, 120, 215);
        box-sizing: border-box;
        text-align: center;
    }
    
    .memberships-header {
        color: white;
        font-size: 3.5em;
        font-weight: 300;
        box-sizing: border-box;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
    }
    
    .plans-box {
        display: flex;
        box-sizing: border-box;
        padding: 0 5em;
        height: 90vh;
        justify-content: space-evenly;
    }
    
    .plan {
        width: 30%;
        height: 100%;
        background: white;
        border-radius: 5px;
    }
    .plan:hover {
        transform: scale(1.01);
        transition-duration: 0.1s;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
    }
    
    .img {
        margin-top: 0;
        width: auto;
        height: 40%;
        box-sizing: border-box;
        background-position: top;
        background-size: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    .basicbox {
        background-image: url("images/howitworksimg.jpg");
    }
    .plusbox {
        background-image: url("images/mainimg.jpg");
    }
    .professionalbox {
        background-image: url("images/professionalpack.jpg");
    }
    
    .title {
        position: relative;
        box-sizing: border-box;
        top: 43%;
        margin: auto;
        color: white;
        font-size: 2.5em;
        background: rgba(0, 0, 0, 0.7);
    }
    
    .price {
        font-size: 3.5em;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0.5em 0;
        color: black;
    }
    
    .feature {
        padding-bottom: 1em;
        font-size: 1.3em;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-left: -10px;
    }
    .features-button {
        height: 55px;
        width: 150px;
        background: rgb(35, 176, 243);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1.3em;
        letter-spacing: 0;
    }
    .features-button:hover {
        transform: translateY(-3px);
        background: rgb(1, 120, 215);
        transition-duration: 0.3s;
        color: white;
    }
    
    .checkedimg {
        margin-top: -3px;
    }
    
    .contact-section {
        height: 80vh;
        width: 100%;
        box-sizing: border-box;
        padding: 5rem;
    }
    
    .contact-section-title {
        color: black;
        font-size: 3em;
        font-weight: 300;
        box-sizing: border-box;
        padding-top: 0;
        padding-bottom: 0.5em;
        text-align: center;
        color: white;
    }
    .message-container {
        width: 60%;
        height: 100%;
        border: 1px solid black;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 2.5em;
        position: relative;
        background-image: url("images/messageboxpic.jpg");
        background-position: top;
        background-size: cover;
        border-radius: 5px;
    }
    
    .name-input, .email-input, .message-input {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.25em;
        border: none;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
    }
    .message-input {
        height: 3em;
    }
    
    .name-input:hover, .email-input:hover, .message-input:hover {
        /* box-shadow: 0 1rem 3rem rgba(255,255,245,.3); */
        border-bottom: 3px solid rgba(35, 176, 243, 0.7);
    }
    .name-input:active, .email-input:active, .message-input:active {
        box-shadow: 0 1rem 3rem rgba(255,255,245,.2);
        border-bottom: 3px solid rgba(35, 176, 243, 1);
    }
    
    .message-container h2 {
        color: white;
    }
    .message-button {
        box-sizing: border-box;
        width: 190px;
        height: 65px;
        color: white;
        background: rgb(35, 176, 243);
        border: none;
        border-radius: 5px;
        font-size: 1.5em;
        text-align: center;
        margin-left: calc(50% - 95px);
        margin-bottom: 2.3em;
    }
    .message-button:hover {
        transform: translateY(-3px);
        background: rgb(1, 120, 215);
        transition-duration: 0.3s;
        color: white;
    }
    
    .footer {
        background: linear-gradient(to right, #000428, #004e92);
        padding: 3em;
        color: white;
        text-align: center;
    }
    
    .footer-text-box {
        display: flex;
        justify-content: space-around;
    }
    
    .footer-left {
        background: rgba(255, 255, 255, 0.1);
        width: 350px;
        box-sizing: border-box;
        padding: 0.1em;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .left-title, .left-item {
        padding: 0.3em;
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    
    .left-title {
        font-size: 1.7em;
        padding-bottom: 0.3em;
        background: rgba(255,255,245,.2);
        font-weight: 400;
    } 
    
    }
    
    @media (min-width: 1130px) and (max-width: 1300px) {
        .title {
            font-size: 1.7em;
        }
        .price {
            font-size: 2.5em;
            padding: 1em;
        }
        .features-section {
            height: 80vh;
        }
        .box {
            height: 50vh;
        }
    }
    @media (min-width: 1130px) and (max-width: 1950px) {
        .message-container {
            width: 80%;
        }
        .features-section {
            height: 60vh;
        }
        .box {
            height: 41vh;
            padding-bottom: 1em;
        }
    }
    @media (min-width: 1130px) and (max-width: 1300px) {
        .howitworks-body {
            line-height: 1rem;
        }
        .howitworks-button {
            margin-top: 0.5em;
        }
        .howitworks-description {
            padding-top: 0;
        }
    }
    @media (min-width: 1130px) and (max-width: 1300px) {
        .howitworks-description {
            padding-top: 1em;
        }
    }
    @media (min-width: 1130px) and (max-width: 1450px) {
        .box {
            height: 35vh;
        }
    }
    @media (min-width: 1200px) {
        .box {
            height: 35vh;
            padding-bottom: 0.5em;
        }
        /* .howitworks-section {
            padding-bottom: 0.25em;
        } */
    }
    @media (min-width: 1550px) {
        .box {
            height: 30vh;
        }
        /* .howitworks-section {
            height: 50vh;
            padding-bottom: 0;
        }
        .howitworks-body {
            padding-bottom: 0.5em;
        } */
    }
    
    @media (min-width: 1130px) and (max-width: 1500px) {
        .header-container h1 {
            font-size: 1.25em;
            letter-spacing: 0px;
        }
        .find {
            background-color: rgb(37, 176, 243);
        }
        .nav-items {
            font-size: 1.25em;
            padding-left: 0.5em;
        }
        .navbar {
            padding-right: 3em;
        }
        .howitworks-section {
            height: 110vh;
        }
    }
    @media (min-width: 1800px) {
        .box {
            padding: 3em;
        }
        .howitworks-body {
            padding-top: 1.5em;
        }
        .message-container {
            width: 65%;
        }
    }
    @media (max-width: 900px) {
        .features-section {
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            /* display: none; */
        }
        .features-section p {
            font-weight: 400;
        }
        .features-header {
            font-size: 1.75rem;
            box-sizing: border-box;
            padding-top: 1.7em;
            color: darkslategray;
            font-weight: 400;
        }
        .features-box {
            box-sizing: border-box;
            padding: 1em 0.5em;
        }
        .box {
            box-sizing: border-box;
            height: 35vh;
            /* border-bottom: 3px solid rgba(0, 0, 0, 0.1); */
            padding: 0.5em 1em 0 1em;
            border-radius: 5px;
    
        }
    }
    @media (min-width: 1130px) and (max-width: 1200px) {
        .features-section {
            height: 60vh;
        }
        .features-body {
            height: 45vh;
        }
        .box {
            height: 47vh;
        }
        
    }
    @media (min-width: 1150px) {
        .features-section {
            height: 50vh;
        }
        .features-body {
            height: 40vh;
        }
        .box {
            height: 25vh;
            padding: 3em;
        }
        .memberships-section {
            height: 95vh;
        }
        .howitworks-section {
            height: 70vh;-
        }
        .plan {
            height: 70vh;
        }
        .plans-box {
            height: 70vh;
        }
        .contact-section {
            height: 65vh;
        }
    }