body {
    max-width: 1900px;
}
@media (max-width: 1920px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    h3 {
        color: rgba(0, 0, 0, 0.9);
    }
    h1 {
        font-weight: 350;
        font-size: 1.7rem;
    }
    p {
        color: rgba(0, 0, 0, 0.7);
    }
    .top-section {
        height: 100vh;
        background-image: url("images/topimgmain.jpg");
        background-position: top;
        background-size: cover;
        /* display: none; */
    }
    .navbar {
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
    }
    .logo {
        color: white;
        font-size: 1.6rem;
        font-weight: 450;
        font-style: italic;
    }
    .menu {
        display: none;
    }
    .header-container {
        box-sizing: border-box;
        padding: 1em 0;
        color: white;
        position: absolute;
        text-align: center;
        top: calc(50% - 84px);
        width: 100%;
        background: rgba(0, 0, 0, 0.6);

    }
    
    .buttons-container {
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 0.5rem;
        padding-bottom: 0.21em;
    }
    .button {
        height: 45px;
        width: 130px;
        background: transparent;
        border-color: rgb(37, 176, 243);
        font-size: 1em;
        padding: 5px;
        box-sizing: border-box;
        color: white;
        margin: 5px;
        border-radius: 5px;
        letter-spacing: 1px;
    }
    .button:hover {
        transform: translateY(-3px);
        transition-duration: 0.3s;
        color: white;
        background-color: rgb(37, 176, 243);
    }
    .register {
        background-color: rgb(37, 176, 243);
    }
    .find {
        background: rgba(0, 0, 0, 0.5);
    }
    .features-section {
        box-sizing: border-box;
        text-align: center;
        padding: 0.5em;
    }
    .features-section p {
        font-weight: 400;
        box-sizing: border-box;
    }
    .features-header {
        font-size: 1.75rem;
        box-sizing: border-box;
        padding-top: 1.7em;
        color: black;
        font-weight: 400;
        padding-bottom: 0.7rem;
    }
    .features-box {
        box-sizing: border-box;
    }
    .box {
        border-radius: 5px;
        padding: 0.5em;
        margin-bottom: 15px;
        min-height: 175px;

    }
    .pic {
        width: 50px;
        height: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: calc(50% - 25px);
        margin-top: 3px;
    }
    
    .partnerships-pic {
        background-image: url("images/partnerships.png");
    }
    .specialoffers-pic {
        background-image: url("images/specialrates.png");
    }
    .findcar-pic {
        background-image: url("images/findcar.png");
    }
    .customerservice-pic {
        background-image: url("images/dannc44213.png");
    }
    .image-section {
        height: 45vh;
        background-image: url("images/mainimg.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    .howitworks-section {
        text-align: center;
        box-sizing: border-box;
        /* display: none; */
    }
    .howitworks-section p {
        font-weight: 400;
    }
    .howitworks-header {
        font-size: 1.75rem;
        box-sizing: border-box;
        padding-top: 1.5em;
        color: black;
        font-weight: 400;
    }
    .howitworks-body {
        box-sizing: border-box;
        padding: 0.1em 1em;
        line-height: 1.5rem;
        text-align: left;
    }
    .howitworks-description {
        box-sizing: border-box;
        width: 100%;
        padding: 1em 0;
    }
    .howitworks-description h3 {
        text-align: center;
        padding: 0 1.1em 0.5em 1.1em;
    }
    
    .howitworks-button {
        height: 45px;
        width: 130px;
        background-color: rgb(37, 176, 243);
        border-color: rgb(37, 176, 243);
        font-size: 1em;
        padding: 5px;
        box-sizing: border-box;
        color: white;
        margin: 5px;
        border-radius: 5px;
        letter-spacing: 1px;
        margin-left: calc(50% - 65px);
        margin-top: 1.3em;
    }
    .howitworks-button:hover, .features-button:hover, .message-button:hover {
        transform: translateY(-3px);
        transition-duration: 0.3s;
        color: white;
        background-color: rgb(37, 176, 243);
    }
    .memberships-section {
        width: 100%;
        background: rgb(0, 120, 215);
        box-sizing: border-box;
        text-align: center;
        /* display: none; */
    }
    .memberships-header {
        font-size: 1.75rem;
        box-sizing: border-box;
        padding-top: 1.5em;
        color: white;
        font-weight: 400;
    }
    .plans-box {
        box-sizing: border-box;
        padding: 1.5em 0.5em;
        margin: 0 auto;
    }
    .plan {
        background: white;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0.7em 0.15em 1.15em 0.25em;
    }
    

    .img {
        margin-top: 0;
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        background-position: top;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .basicbox {
        background-image: url("images/howitworksimg.jpg");
    }
    .plusbox {
        background-image: url("images/mainimg.jpg");
    }
    .professionalbox {
        background-image: url("images/professionalpack.jpg");
    }
    .title {
        position: relative;
        padding: 0.25em;
        box-sizing: border-box;
        top: 43%;
        color: white;
        font-size: 2em;
        background: rgba(0, 0, 0, 0.7);
        vertical-align: center;
    }
    .price {
        font-size: 3em;
        font-weight: 350;
        box-sizing: border-box;
        padding: 0.5em 0;
        color: black;
    }
    .feature {
        padding-bottom: 1em;
        font-size: 1.3em;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-left: -10px;
        color: rgba(0, 0, 0, 0.7);
    }
    .checkedimg {
        margin-top: -4px;
    }
    .features-button {
        height: 45px;
        width: 130px;
        border-color: rgb(37, 176, 243);
        background: rgb(37, 176, 243);
        font-size: 1em;
        padding: 5px;
        box-sizing: border-box;
        color: white;
        margin: 5px;
        border-radius: 5px;
        letter-spacing: 1px;
        margin-bottom: 1.25em;
    }

    .contact-section {
        width: 100%;
        box-sizing: border-box;
    }
    .contact-section-title {
        font-size: 1.75rem;
        box-sizing: border-box;
        padding: 1em;
        color: black;
        font-weight: 400;
        text-align: center;
    }
    .message-container {
        box-sizing: border-box;
        /* background-image: url("images/messageboxpic.jpg");
        background-position: top;
        background-size: cover; */
        background-image: url("images/mailpic.png");
        background-position: top;
        background-size: cover;
        color: white;
        padding: 0 0.8em;
    }
    .name-input, .email-input, .message-input {
        padding: 0.75em;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.25em;
        border: none;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 4px solid blue;
    }
    .message-input {
        height: 3em;
    }
    .message-button {
        height: 45px;
        width: 130px;
        border-color: rgb(37, 176, 243);
        background: rgb(37, 176, 243);
        font-size: 1em;
        padding: 5px;
        box-sizing: border-box;
        color: white;
        border-radius: 5px;
        letter-spacing: 1px;
        margin: 1.25em;
        margin-left: calc(50% - 64px);
    }
    .footer {
        background: linear-gradient(to right, #000428, #004e92);
        padding: 1.25em;
        color: white;
        text-align: center;
        letter-spacing: 1px;
    }
    .footer-text-box {
        width: 100%;
    }
    .footer-left {
        padding: 0.5em;
        font-weight: 300;
    }
    .left-item {
        padding: 0.1em;
    }
    .left-title {
        font-size: 1.25em;
        font-weight: 400;
        text-decoration-line: underline;
    }
}

@media (min-width: 640px) {
    .features-box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .plans-box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .footer-text-box {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }
    .contact-section-title {
        padding-bottom: 0.25em;
    }
    .message-container {
        padding-left: 3em;
        padding-right: 3em;
    }
    .name-input, .email-input, .message-input {
        padding: 0.5em;
    }
}
@media (min-width: 740px) {
    .features-box {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .plans-box {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .footer-text-box {
        display: flex;
        justify-content: space-around;
    }
    .contact-section-title {
        padding-bottom: 0.25em;
    }
    .message-container {
        padding-left: 5em;
        padding-right: 5em;
    }
    .name-input, .email-input, .message-input {
        padding: 0.5em;
    }
}
@media (min-width: 790px) {
    .features-header {
        padding-bottom: 1em;
    }
    .features-box {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
        "partnerships specialoffers"
        "findcar customerservice"
    }
    .box {
        padding: 2.5em 4em;
    }
    .box:hover {
        transition-duration: 0.1s;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        transform: scale(1.1);
        transform: translateY(-3px);
    }
    .plan:hover {
        transition-duration: 0.1s;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        transform: scale(1.1);
        transform: translateY(-3px);
    }
    .plans-box {
        padding-left: 10em;
        padding-right: 10em;
    }
}
@media (min-width: 850px) {
    .top-section {
        background-image: url("images/top3img.jpg");
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: flex;
    }
    .nav-items {
        display: flex;
        color: white;
        font-weight: 400;
    }
    .nav-item {
        padding-right: 1.25rem;
        font-size: 1.1rem;
        list-style: none;
        cursor: pointer;
    }
    li:hover {
        color: rgb(37, 176, 243);
    }
    .header-container {
        /* background: rgba(0, 0, 0, 0.7); */
        background: transparent;
        top: calc(50% - 84px);
    }
    h1 {
        font-size: 2.1em;
    }
}
@media (min-width: 950px) {
    h1 {
        font-size: 2.5em;
    }
    .features-box {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .howitworks-description {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .plans-box {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}
@media (min-width: 1100px) {
    .features-box {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .plans-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 1em;
        padding-right: 1em;
    }
    .plan {
        /* width: 300px; */
        width: 30%;
    }
    /* .contact-section {
        padding: 1em 4em;
    } */
    .footer-text-box {
        padding-left: 15%;
        padding-right: 15%;
    }
    .message-container {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.7em;
    }
    .header-container {
        top: 30%;
    }
    .message-container {
        padding-left: 15%;
        padding-right: 15%;
    }
    .footer-text-box {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (min-width: 1500px) {
    .features-box {
        display: flex;
        justify-content: space-evenly;
    }
    .box {
        width: 25%;
    }
}
@media (min-width: 1800px) {
    h1 {
        font-size: 3em;
    }
    .plans-box {
        margin-right: 10%;
        margin-left: 10%;
    }
    .message-container {
        padding-left: 400px;
        padding-right: 400px;
    }
    .logo {
        font-size: 2.3em;
    }
}








